a {
    font-size: 20px;
    font-weight: bold;
    color: #778da9; 
}
.background {
    background: #1b263b;
    color:  #E0E1DD;
    text-align: center;
    padding-top: 300px;
}
.btn {
    display: inline-block;
    width: 150px;
    height: 50px;
    border: 2px solid #e0e1dd;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin-left: 30px;
}
.btn:hover {
    background: #E0E1DD;
    color: #1b263b;
}